In [1]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup
import requests
import html
import time
from splinter import Browser

In [3]:
browser = Browser('chrome')

In [10]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module
browser.visit(url)

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(browser.html, 'html.parser')

results = soup.find('div', class_='list_text').a.text
results
results2 = soup.find('div', class_='article_teaser_body').text

output = {
    'Title' : results, 
    'Paragraph' : results2,
}
output

{'Title': 'MOXIE Could Help Future Rockets Launch Off Mars',
 'Paragraph': "NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel."}

In [14]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
browser.find_by_id("full_image").click()

time.sleep(2)

browser.find_link_by_partial_text("more info").click()

time.sleep(2)
soup = BeautifulSoup(browser.html, 'html.parser')
picture = soup.find('figure', class_='lede').a.img["src"]
picture

'/spaceimages/images/largesize/PIA19330_hires.jpg'

In [17]:
featured_image = 'https://www.jpl.nasa.gov' + picture
featured_image

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19330_hires.jpg'

In [29]:
url = 'https://space-facts.com/mars/'

facts = pd.read_html(url)

facts_cleaned = facts[1]

facts_cleaned.columns = ["Description" , "Mars", "Earth"]

facts_cleaned

          Description             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:     -87 to -5 °C      -88 to 58°C

In [37]:
mars_table = facts_cleaned.to_html()

mars_table

mars["Facts"] = mars_table

NameError: name 'mars' is not defined